@import "./utilities/extends";

@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

@import "./components/cardProducto";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
