footer {
  background-color: #330101;
  padding: 2rem 1rem;
  text-align: center;

  display: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

footer h2,
footer a {
  margin: 0 0.5rem;
}
.index-footer-flex-container {
  @extend %flexJCCenterAICenter;
}

.logosFooter {
  width: 4rem;
  height: auto;
  max-height: 4rem;
  object-fit: contain;
}

