footer {
  background-color: $color-principal;
  padding: 2rem 1rem;
  text-align: center;
}

footer h2,
footer a {
  margin: 0 0.5rem;
}

.index-footer-flex-container {
  @extend %flexJCCenterAICenter;
  gap: 1rem;
  margin: 1rem 0;
}


.logosFooter {
  width: 4rem;
  height: auto;
  max-height: 4rem;
  object-fit: contain;
}