html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-item img {
  height: $height-carousel; 
  width: 100%;
  object-fit: cover;
}

main .row img {
  display: block;
  margin: 0 auto;
  height: $height-galeria;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  @include sombra-suave;
}