.carousel-item img {
  height: 600px;
  object-fit: cover;
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  justify-content: center;
}

.row img {
  display: block;
  margin: 0 auto;
}
